.todo-container {
  &__main {
    width: 30%;
    height: auto;
    border: 1px solid grey;
  }

  &__header {
    background-color: grey !important;
    min-height: 60px;
  }

  &__count {
    float: right;
  }
}